 @font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/Archive\ Regular\ 400.otf) format('truetype');
  font-weight: bold;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

img {
  height: 400px;
}

.logo {
  height: 110px;
}

.mobile {
  width: 100%;
  height: auto !important;
}

h1 h2 h3 {
  font-family: 'MyFont';
  color: #19787c;
}

.home-bg-color {
  background-color: #19787c;
  color: white;
}

.home-red {
  color: #ff1717;
}

.home-bg-red {
  background-color: #ff1717;
  color: white;
}


@media only screen and (min-width: 600px) {
  .footer {
    position: fixed;
    bottom: 0;
  }

  .footer-btns {
    position: absolute;
    bottom: 67px;
    display: flex;
    justify-content: end;
  }

  .fixed-top-1 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .user-dash {
    background-color: #e5ecf6;
    background-size: cover;
    height: 100vh;

  }

  .fixed-nav {
    position: fixed;
    top: 10px;
    right: 11rem;
  }

}

@media only screen and (max-width: 600px) {

  .footer-btns {
    /* position: absolute; */
    /* bottom: 67px; */
    /* display: flex; */
    display: grid;
    padding-bottom: 9px;
    /* justify-content: inherit; */
  }

}

a {
  text-decoration: none;
}


.new-form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #d3dfdc;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
}


.h-20 {
  height: 120px;
}

.l-1 {
  line-height: 0.7;
}

.bg-orange {
  background-color: #fe7852;
  color: white;
  font-family: archive;
}

.bg-yellow {
  background-color: #ffc854;
  color: white;
  font-family: archive;
}

.bg-green {
  background-color: #3ab3f8;
  color: white;
  font-family: archive;
}

.progress {
  width: 134px;
  height: 134px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}

.progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  /* background: #44484b; */
  font-size: 24px;
  color: #000;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 0%;
  left: 6%;
}

.progress.blue .progress-bar {
  border-color: #049dff;
}

.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}

.progress.yellow .progress-bar {
  border-color: #fdba04;
}

.progress.yellow .progress-left .progress-bar {
  animation: loading-3 1s linear forwards 1.8s;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}

@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
  }
}

@media only screen and (max-width: 990px) {
  .progress {
    margin-bottom: 20px;
  }
}

.p-completed {
  font-size: 12px !important;
  font-weight: 600;
}

p {
  margin-top: 0px;
}

.archive {
  font-family: archive;
}

.btn-green {
  background-color: #50ac87;
  color: white;
  font-size: small;
  font-weight: 600;
}
.home-bg{
  border: 1px solid #19787C;
  border-radius: 3px !important;
  color:#19787C ;
}
.home-bg:hover{
font-weight: 900;
}
.button-1{
  background-color: #19787C;
  color: white;
}
.button-1:hover{
  background-color: #ffffff;
  color: black;
  border: 1px solid #19787C ;
}
.btn-check:focus+.btn, .btn:focus{
  outline: none !important;
  box-shadow: none !important;
}