.profession-section {
  background-image: url("../../images/pink-background.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.profession {
  color: #dab5bd;
}



.icon-left {
  height: 30px;
}

.signup {
  background-image: url("../../images/backgroud-10-.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}



.parents-section-1 {
  background-image: url("../../images/bacckground-33.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.main-parents-1 {
  color: #9f8787;
}

.main-color-parent-1 {
  color: #1a777c;
}