.dashboard {
    color: var(--special) !important;
}

i[class*="person"] {
    font-size: 1.3em !important;
}

.latest-sessions,
.upcoming-sessions {
    --shadow-other-b: 6px;
    --shadow-other-y: 0;
    --shadow-other-c: #5A6063
}

.progress-bar {
    transition-property: width;
    transition-duration: 1000ms;
    transition-timing-function: linear;
}

.colorChangerBack:hover {
    color: black !important;
}

.closeChanger:hover {
    background-color: black !important;
}

.blueChanger:hover {
    background-color: blue !important;
}

.onTheBottom {
    position: fixed !important;
    bottom: 0 !important;
}

@media(max-width:1300px) {
    .onTheBottom {
        position: relative !important;
        width: auto !important;
    }
}

.learn_more button,
.learn_more a {
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: black;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

@media(max-width:768px) {
    .h-max-auto {
        height: auto !important;
    }
}

/* all the specific styles for the showcase cards starts here */
.showcase_card_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}

@media(max-width:768px) {
    .showcase_card_wrapper {
        padding: 0px 6px;
    }
}

.showcase_card {
    height: 150px;
    background: transparent linear-gradient(0deg, #ECF5FF 0%, #BEDFFF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 3px 5px 6px #00000029;
    border-radius: 27px;
}

.gaint_icon_wrapper {
    position: absolute;
    top: 10px;
    right: 15px
}

.gaint_circular-icon {
    font-size: 25px;
    color: #496C8C;
    width: 50px;
    height: 50px;
    box-shadow: 2px 3px 6px #00000063;
    background-color: white;
    border-radius: 50%;
}

.showcase_card_header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
}

.showcase_card_title {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif !important;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}

.video_card_title {
    font-size: 13px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif !important;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
}

.showcase_card_body {
    width: 90%;
    height: 105px;
}

.showcase_card_body .special_monstrate_text {
    color: black;
    font-size: 13px;
}

.learn_more a {
    display: flex;
    align-items: center;
    color: #496C8C
}

.owl-stage-outer {
    padding: 0px !important;
}

.owl-dots {
    position: absolute;
    bottom: 0%;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
}

@media(max-width:768px) {
    .owl-dots {
        bottom: -25px;
    }
}

.owl-dots.disabled {
    display: block !important;
}

.owl-dot span {
    background: rgba(128, 128, 128, 0.452);
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

.owl-dot.active {
    background:#7cbcfc !important;
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

.customPrevBtn,
.customNextBtn {
    cursor: pointer;
    top: 110px;
    z-index: 99
}

.customNextBtn {
    right: 10px;
}

.customPrevBtn {
    left: 7px;
}

/* all the specific styles for the showcase cards ends here */
/* all the specific styles for the video cards starts here */

.video_card_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:768px) {
    .video_card_wrapper {
        padding: 0px 6px;
    }
}

.customPrevBtnVideo,
.customNextBtnVideo {
    cursor: pointer;
    top: 450px;
    z-index: 99
}

.customNextBtnVideo {
    right: 10px
}

.customPrevBtnVideo {
    left: 7px
}

.video_card {
    height: 380px;
    background: #FFF;
    box-shadow: 3px 5px 6px #00000029;
    border-radius: 27px;
    width: 96%;
}

.video_card_header {
    width: 100%;
    height: 200px;
    border-radius: inherit;
}

.video_card_header iframe {
    width: 100% !important;
    height: 100% !important;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
}

.video_card_body {
    width: 100%;
    height: 180px;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.video_description {
    font-size: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* all the specific styles for the video cards ends here */

.heading-now {
    font-size: 21px;
    font-family: heading-now, sans-serif !important;
    letter-spacing: 2px;
    color: #000000;
    opacity: 1;
}

.sessions_list,
.dynamic_sessions_list {
    display: flex;
    align-items: center;
    list-style: none;
}

.sessions_list>* {
    font-family: heading-now-lighter !important;
    font-size: 19px;
    padding: 0;
    margin: 0;
    color: #FFF;
    padding: 3px 0px;
}

.sessions_list li:nth-of-type(1) {
    width: 10% !important;
    background-color: #729CC4;
    padding-left: 7px;
}

.sessions_list li:nth-of-type(2) {
    width: 30% !important;
    background-color: #496C8C;
    text-align: center;
}

.sessions_list li:nth-of-type(3) {
    width: 30%;
    background-color: #729CC4;
    text-align: center;
}

.sessions_list li:nth-of-type(4) {
    width: 30%;
    background-color: #496C8C;
    text-align: center;
}

.dynamic-sessions {
    height: 65px !important;
}

.dynamic_sessions_list {
    height: 100%;
    background-color: #496C8C;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 3px 6px #00000038;
}

.dynamic_sessions_list li:nth-of-type(1) {
    background-color: #496C8C;
    width: 5%;
    height: 100%;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    padding-left: 7px;
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
}

.dynamic_sessions_list li:nth-of-type(2) {
    width: 95%;
    height: 100%;
    background-color: #FFF;
    border-radius: 35px;
}

.session-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.coach-info {
    width: 37%;
    height: 100%;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
    gap: 15px;
    position: relative;
}

.coach-info::after {
    content: "";
    width: 1px;
    height: 50px;
    background-color: #00000038;
    position: absolute;
    right: 0;
}

.coach-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #729CC4;
}

.coach-info p,
.session-date p {
    font-weight: 600;
}

.session-date {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
}

.session-date::after {
    content: "";
    width: 1px;
    height: 50px;
    background-color: #00000038;
    position: absolute;
    right: 0;
}

.session-button {
    width: 30%;
    height: 100%;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.session-button .view,
.session-button .start {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-size: 14px;
    border-radius: 9px;
    opacity: 1;
    width: 89px;
    height: 30px;
}

.view {
    background-color: #496C8C;
}

.start {
    background-color: #21A500;
}
