:root {
    --fs: 3.4rem;
    --bg-opacity: 1;
    /* --special: rgba(108, 187, 222, var(--bg-opacity)); */
    --special: #729CC4;
    --shadow-offset-x: 12px;
    --shadow-offset-y: 12px;
    --shadow-blur-radius: 10px;
    --shadow-spread-radius: 10px;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

:not(i) {
    font-family: Roboto, sans-serif !important;
}

body {
    overflow-x: hidden !important;
    background-repeat: no-repeat;
}

@font-face {
    font-family: Acumin Pro;
    font-weight: bold;
    src: url("../fonts/Acumin-BdPro.otf") format("opentype");
}

@font-face {
    font-family: rockwell;
    src: url("../fonts/Rockwell-Regular.otf") format("opentype");
}

.font-special {
    font-family: Acumin Pro;
}

.bg-special {
    background-color: var(--special) !important;
    color: white !important
}

.text-special {
    color: var(--special) !important
}

.shadow-special {
    box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-spread-radius) var(--shadow-color)
}

.border-special {
    --bs-border-color: var(--special)
}

.btn-special {
    --bs-btn-color: var(--special);
    --bs-btn-bg: var(--special);
    --bs-btn-border-color: var(--special);
    --bs-btn-hover-color: var(--special);
    --bs-btn-hover-bg: var(--special);
    --bs-btn-hover-border-color: #25cff2;
    --bs-btn-focus-shadow-rgb: 11, 172, 204;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3dd5f3;
    --bs-btn-active-border-color: #25cff2;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--special);
    --bs-btn-disabled-border-color: var(--special);
}

.btn,
button,
[class*="form-"]:focus {
    box-shadow: none !important;
}

/* set animation */
body>nav {
    transition: background-color 250ms;
}

/* gently show hide border */
body>nav>.container .navbar-collapse>ul.navbar-nav li.nav-item a.nav-link:not(.other, [class*="bg-dark"]) {
    outline-style: solid;
    outline-width: 1px;
    outline-color: transparent;
    transition: outline-color 250ms;
}

/*  add border to nav tabs when page is scrolled */
body>nav:is(.scrolled)>.container .navbar-collapse>ul.navbar-nav li.nav-item a.nav-link {
    outline-color: var(--special)
}

/* add spacing */
body>nav ul:first-child a {
    font-weight: 500 !important;
    padding: 0.3rem 0.7rem !important;
}

/* default background for nav links */
body>nav ul:first-child a:not(.text-bg-dark, .other) {
    background-color: white !important;
}

img[src$="logo.png"] {
    filter: invert(1);
}

body>nav .other {
    background-color: var(--special) !important;
    color: white !important
}

/*  */
body>nav ul:first-child a:not(.text-bg-dark, .other):hover {
    background-color: var(--special) !important;
    color: white !important
}

.scrolled {
    background-color: var(--bs-white) !important;
    box-shadow: 0 1px 12px 3px grey !important;
}

.fw-500 {
    font-weight: 500 !important
}

.ls-1 {
    letter-spacing: 1px !important
}

/* ratings  */
.ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #b1b1b1;
    overflow: hidden;
}

.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #fde16d;
}

.empty-stars:before,
.full-stars:before {
    content: "\2605\2605\2605\2605\2605";
    font-size: 14pt;
}

.empty-stars:before {
    -webkit-text-stroke: 1px #848484;
}

.full-stars:before {
    -webkit-text-stroke: 1px orange;
}

@media (min-width: 992px) {
    /* body {
        background-image: url("/assets/img/index.jpeg")
    } */

    [data-section="who-are-you"] .card:hover {
        background-color: #fff !important;
        transform: scale(1.1);
    }

    [data-section="best-coaches"] {
        background-image: url('/assets/img/subscription.png');
        background-repeat: no-repeat;
        background-blend-mode: overlay;
        background-size: cover;
    }

    [data-section="best-coaches"] .col-lg-2 {
        background-repeat: no-repeat;
        background-image: url('/assets/img/arrow-special.png');
        background-size: cover;
    }

    [data-section="best-coaches"] .card:hover h3:first-child {
        color: var(--bs-dark) !important;
    }

    [data-section="best-coaches"] .card:hover {
        background-color: rgba(255, 255, 255, 0.7) !important
    }

    [data-section="best-coaches"] .card:hover::before {
        transform: rotate(-3deg) translateY(-10px);
        background-color: var(--special) !important;
    }

    [data-section="reviews"] .card:hover {
        transform: scale(1.05) translate(15px, 16px);
        box-shadow: #3cafe2 0px -9px, var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-color);
    }
}

@media (min-width: 1400px) {
    .w-xxl-75 {
        width: 75% !important
    }

}

/* who are you section */
[data-section="who-are-you"] {
    background-color: rgba(108, 187, 222, 4%)
}

[data-section="who-are-you"] .card {
    transition-duration: 200ms;
    transition-property: transform;
    transition-timing-function: ease-in;
    background-color: #e6f4f9 !important;
}

/* best coaches, subscription section */
[data-section="best-coaches"] .card {
    background-color: var(--bs-light) !important
}

[data-section="best-coaches"] .card::before {
    z-index: -1;
    background-color: var(--bs-light);
    display: block !important;
    height: 100%;
    content: "";
    width: 100%;
    position: absolute;
    border-radius: 1rem;
    transition-timing-function: linear;
    transition-property: transform, background-color;
    transition-duration: 200ms;
}


/* reviews section, ... */
[data-section="reviews"] {
    background-color: rgba(108, 187, 222, 4%)
}

[data-section="reviews"] .card {
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur-radius) var(--shadow-color);

}


.fw-500 {
    font-weight: 500 !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.text-justify {
    text-align: justify
}

.modal-content {
    box-shadow: 0px 1px 12px #0C2A68 !important;
    border: 0.4000000059604645px solid #3CAFE2 !important;
    border-radius: 16px !important;
    opacity: 1 !important;
    background: rgba(255, 255, 255, 0.7) !important;
    backdrop-filter: blur(5px)
}