body {
    background-image: url('/assets/icons/index.svg');
    background-color: rgb(108 187 222 / 0.4);
    background-size: cover;
}

body>div.container-fluid.px-0.mx-0.navbar-all.mt-3>nav {
    margin-bottom: 0 !important;
}

#profileForm .question table {
    /* overflow-x: auto !important;
    white-space: nowrap !important */
}

#footer {
    display: none !important;
}

footer {
    z-index: 1;
}

@media (min-width: 1200px) and (min-height: 700px) {
    footer {
        position: absolute !important;
        bottom: 0 !important;
        width: 100%;
    }
}

select,
textarea,
input:not([type="checkbox"], [type="radio"]) {
    box-shadow: 0px 3px 3px 2px #6CBBDE;
    border: 0.5px solid #0C2A68;
    border-radius: 8px;
}

input:not([type="range"]):valid,
textarea:valid,
select:valid {
    border: 2px solid var(--bs-success) !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.invalid {
    border: 2px solid var(--bs-danger) !important;
}

.next,
.previous {
    width: 72px !important;
}


/* Slider Settings */
.swiper {
    /* min-height: 74vh !important; */
}

.swiper-wrapper {
    align-items: center !important;
    min-height: 74vh !important
}

.swiper-slide {
    height: auto !important
}

/* thumb css */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border: 1px solid #000000 !important;
    height: 36px !important;
    width: 16px !important;
    border-radius: 3px !important;
    background: #ffffff !important;
    cursor: pointer !important;
    margin-top: -14px !important;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d !important;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d !important;
    border: 1px solid #000000 !important;
    height: 36px !important;
    width: 16px !important;
    border-radius: 3px !important;
    background: #ffffff !important;
    cursor: pointer !important;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d !important;
    border: 1px solid #000000 !important;
    height: 36px !important;
    width: 16px !important;
    border-radius: 3px !important;
    background: #ffffff !important;
    cursor: pointer !important;
}

/* slider css */
input[type=range]::-webkit-slider-runnable-track {
    width: 100% !important;
    height: 8.4px !important;
    cursor: pointer !important;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d !important;
    background: #3071a9 !important;
    border-radius: 1.3px !important;
    border: 0.2px solid #010101 !important;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd !important;
}

input[type=range]::-moz-range-track {
    width: 100% !important;
    height: 8.4px !important;
    cursor: pointer !important;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d !important;
    background: #3071a9 !important;
    border-radius: 1.3px !important;
    border: 0.2px solid #010101 !important;
}

input[type=range]::-ms-track {
    width: 100% !important;
    height: 8.4px !important;
    cursor: pointer !important;
    background: transparent !important;
    border-color: transparent !important;
    border-width: 16px 0 !important;
    color: transparent !important;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495 !important;
    border: 0.2px solid #010101 !important;
    border-radius: 2.6px !important;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d !important;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071a9 !important;
}

input[type=range]::-ms-fill-upper {
    background: #3071a9 !important;
    border: 0.2px solid #010101 !important;
    border-radius: 2.6px !important;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d !important;
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd !important;
}

/**********************/
/*    Modal Settings  */
/**********************/

/* modal close button customization */
.modal .btn-close {
    border-radius: 50% !important;
    background-color: var(--bs-white) !important;
}

.modal-body::-webkit-scrollbar {
    display: none;
}

/* add a blur transparent back to modal */
.modal-content {
    box-shadow: 0px 1px 12px #0C2A68 !important;
    border: 0.4000000059604645px solid #3CAFE2 !important;
    border-radius: 16px !important;
    opacity: 1 !important;
    background: rgba(255, 255, 255, 0.7) !important;
    backdrop-filter: blur(5px)
}

.overflow-x-auto {
    overflow-x: auto !important
}