/* regular montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
/* bolder montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800;900&display=swap');

:root {
    /* --special: #6cbbde; */
    --special: #729CC4;
    --shadow-other-x: 0px;
    --shadow-other-y: 3px;
    --shadow-other-b: 3px;
    --shadow-other-s: 0px;
    --shadow-other-c: rgba(112, 112, 112, 1);
    /* shadow special vars */
    --shadow-special-x: 0px;
    --shadow-special-y: 0px;
    --shadow-special-b: 4px;
    --shadow-special-s: 2px;
    --shadow-special-c: rgba(0, 0, 0, .15);
}

/* global classes defined here */
.special_monstrate_text {
    font: normal normal 600 17px/19px;
    font-family: 'Montserrat', sans-serif !important;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.spacial_bold_monstrate_text {
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif!important;
    letter-spacing: 0px;
    color: #000;
    opacity: 1;
}

.w-fit-content {
    width: fit-content;
}

.flex-all-center {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

/* body styling goes here */

body {
    overflow-x: hidden !important;
}

/* font settings */

:not(i) {
    font-family: Roboto, sans-serif !important;
}

@font-face {
    font-family: Acumin Pro;
    font-weight: bold;
    src: url("../fonts/Acumin-BdPro.otf") format("opentype");
}

@font-face {
    font-family: heading-now;
    src: url("../fonts/heading_now/HeadingNowTrial-54Regular.ttf") format("truetype");
}

@font-face {
    font-family: heading-now-lighter;
    src: url("../fonts/heading_now/HeadingNowTrial-62Light.ttf") format("truetype");
}

@font-face {
    font-family: roboto-regular;
    src: url("../../new_design_assets/fonts/lofty-chic-demo/Lofty\ Chic\ Demo.ttf") format("truetype");
}

/* our custom font size */

.fs-7 {
    font-size: .9rem !important;
}


/* our custom text color and background */
.text-special {
    color: var(--special) !important;
}

.bg-special {
    background-color: var(--special) !important;
}

/*our custom shadow*/
.shadow-special {
    box-shadow: var(--shadow-special-x) var(--shadow-special-y) var(--shadow-special-b) var(--shadow-special-s) var(--shadow-special-c) !important
}

.shadow-other {
    box-shadow: var(--shadow-other-x) var(--shadow-other-y) var(--shadow-other-b) var(--shadow-other-s) var(--shadow-other-c) !important
}


.upcoming-sessions::-webkit-scrollbar {
    display: none !important;
}

/**********************/
/*    Modal Settings  */
/**********************/

/* modal close button customization */
.modal .btn-close {
    border-radius: 50% !important;
    background-color: var(--bs-white) !important;
}

/* hide scroll bars */
/*body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background-color: grey;
}

body::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 5px;
}*/

.modal-body::-webkit-scrollbar {
    display: none;
}

/* add a blur transparent back to modal */
.modal-content {
    box-shadow: 0px 1px 12px #0C2A68 !important;
    border: 0.4000000059604645px solid #729CC4 !important;
    border-radius: 16px !important;
    opacity: 1 !important;
    background: rgba(255, 255, 255, 0.7) !important;
    backdrop-filter: blur(5px)
}

/* other */
.main-row {
    margin-left: 3rem;
}

/* instruction page css */
ul.instructions {
    margin-left: -31px;
    list-style-image: url('/assets/icons/circle.svg');
}

ul.instructions li {
    padding-bottom: 1rem;
}

/* the basic background and animations in use dashboard other pages */
.main {
    /* background-color: #edffff; */
    backdrop-filter: blur(34px);
    -webkit-backdrop-filter: -webkit-blur(34px);
}

.inner {
    background: rgba(112, 112, 112, 0.08) 0% 0% no-repeat padding-box !important;
    border-radius: 5px !important;
    min-height: 70vh !important
}

/* floating animation in background */
@media (min-width:992px) {
    .floating {
        border-radius: 50%;
        width: 10rem;
        background: linear-gradient(rgba(108, 187, 222, 0.9), rgba(175, 28, 112, 0.9));
        height: 10rem;
        top: 15%;
        position: absolute;
        animation-name: floating;
        animation-duration: 10500ms;
        animation-timing-function: linear;
        animation-direction: alternate;
        opacity: 0.5;
        filter: blur(2.3rem);
        animation-iteration-count: infinite;
        animation-delay: 5000ms !important;
        animation-fill-mode: forwards;
    }

    @keyframes floating {
        0% {
            transform: rotate(0deg);
            left: 0%
        }

        100% {
            transform: rotate(360deg);
            left: 80%
        }
    }
}

/* test report page */
.unlock,
.view-report {
    bottom: -15px !important;
    left: 50% !important;
    /* width: 112px !important; */
    box-shadow: 0px 3px 6px #707070 !important;
    backdrop-filter: blur(6px) !important;
    border-radius: 4px !important;
    translate: -50%;
}

.view-report {
    background-color: var(--special) !important;
}

.unlock {
    background-color: rgba(255, 152, 0, 1) !important;
}

.bg-yellow {
    background-color: rgba(204, 195, 66, 0.57) !important
}

.bg-green {
    background-color: rgba(17, 120, 31, 57%) !important
}

.rounded-special {
    backdrop-filter: blur(6px) !important;
    box-shadow: 0px 3px 6px #707070 !important;
}

@media screen and (min-width:576px) {
    .rounded-special {
        border-radius: 4rem / 12px !important;
    }
}

@media screen and (max-width:576px) {
    .rounded-special {
        border-radius: 1rem !important;
    }

    #infobar {
        --bs-offcanvas-width: 58.333333333333336%;
    }
}

#infobar {
    box-shadow: -1px 0px 0px 1px #00000026;
}

/* Datatable search bar */
.title::before {
    font-weight: bold;
}

@media screen and (min-width:992px) {
    .filter {
        float: right;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.text-justify {
    text-align: justify
}

@media (min-width: 1400px) {
    .pt-xxl-6 {
        padding-top: 6rem !important
    }
}

/* css for the header in common */
.bell {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #E74C3C;
    color: white;
    font-size: 13px;
    display: flex;
    align-content: center;
    justify-content: center;
    top: -10px;
    right: -9px;
}

#userInfo {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000038;
    border-radius: 14px;
    z-index: 1021;
    width: 230px;
    height: auto;
    display: none;
    top: 50px;
    right: 20px
}

#userInfo ul li {
    list-style: none;
    color: black;
    font-weight: 600;
    font-size: 15px;
    margin: 7px 0px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;

}

#userInfo ul li a {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: start;
}

.centered {
    margin: auto;
    color: black;
}

a {
    text-decoration: none !important;
}


/* css for the header in common */
/* css for ghost elements starts here */
.skeleton {
    position: relative;
}

.skeleton::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(151, 151, 151, 0.74);
    border-radius: inherit;
    box-shadow: none !important;
    z-index: 10;
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
    box-shadow: none !important;
}

@keyframes skeleton {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

/* css for ghost elements starts here */
/* common class for buttons and anchor */
.anchor-button {
    display: block;
    width: max-content;
    padding: 3px 25px;
    background-color: #496C8C;
    font: normal normal 600 17px/19px;
    font-family: 'Montserrat', sans-serif !important;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    border-radius: 6px;
}
.anchor-button:hover {
    color: #FFFFFF;
}

/* common class for buttons and anchor */