.hero-section {
  background-image: url("../../images/bg1.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.home-bg-color{
  background-color: #19787C;
}
.home-bg-color:hover{
  background-color: white;
  color:#19787C;
  border:#19787C 1px solid;
}
.home-bg-color-1{
  background-color:black;
}
.home-bg-color-1:hover{
  background-color: white;
  color:black;
  border:#000000 1px solid;
}
.home-bg-color-3{
  background-color:black;
  width: 44%;
}
.home-bg-color-3:hover{
  background-color: white;
  color:black;
  border:#000000 1px solid;
}


@media only screen and (min-width: 600px) {
  .title {
    font-size: 2.5em;
  }

}