* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

@media (min-width: 576px) and (max-width: 768px) {
    .container {
        max-width: 768px !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .container {
        max-width: 990px !important;
    }
}

@media(max-width:768px) {
    .container-fluid {
        padding: 15px !important;
    }
}

@font-face {
    font-family: myFont;
    src: url(../fonts/rockeb.ttf);
}

@font-face {
    font-family: segoe;
    src: url(../fonts/SEGOEUI.TTF);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/Roboto-Condensed.ttf);
}

@font-face {
    font-family: rockwell;
    src: url('../fonts/Rockwell-Regular.otf') format('opentype');
}

section {
    max-width: 1400px;
    margin: 0 auto;
    /* Center the hero section on the page */
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.wrapper_div {
    max-width: 1200px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 250px;
    height: 33px;
}

.logo img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.hamburger {
    background-color: #749BC2 !important;
    height: 35px !important;
    width: 50px !important;
    border-radius: 3px !important;
}

.hamburger:hover {
    opacity: 1 !important;
}

span.hamburger-box {
    padding-left: 4px !important;
    margin-top: 1px !important;
}

.hamburger-inner {
    background-color: white !important;
    width: 33px !important;
    border-radius: 0 !important;
}

.hamburger-inner:before {
    background-color: white !important;
    width: 33px !important;
    border-radius: 0 !important;
}

.hamburger-inner:after {
    background-color: white !important;
    width: 33px !important;
    border-radius: 0 !important;
}

main {
    display: flex;
}

.company {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
}

.sidebar {
    width: 200px;
    background-color: #749BC2;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.sidebar a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 17px;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    transition: all ease 0.5s;
}

.sidebar a:hover {
    color: white;
    transform: scale(1.1);
    transition: all ease 0.5s;
}

.sidebarAncestor {
    position: relative;
}

#sidebarView {
    display: none;
    position: absolute;
    right: 30%;
}

@media(max-width:992px) {
    main {
        flex-direction: column;
    }
}

.tagline {
    width: 50%;
    padding-left: 9px;
}

@media(max-width:992px) {
    .tagline {
        width: 92vw;
        padding-left: 0;
    }
}

.text {
    width: 100%;
    max-width: 100%;
    height: 130px;
    margin-top: 60px;
    overflow: hidden !important;
}

@media(max-width:992px) {
    .text {
        width: 100%;
        margin-left: 0;
        margin-top: 20px !important;
        height: 150px !important;
    }
}

@media(max-width:600px) {
    .text {
        margin-bottom: 35px !important;
    }
}

@media(max-width:400px) {
    .text {
        margin-bottom: 20px !important;
    }
}

.text h3 {
    color: red;
}

.tagline h3 {
    font-family: myFont;
    font-size: 42px;
    line-height: 1;
    color: #749BC2;
}

@media(max-width:992px) {
    .tagline h3 {
        line-height: 1.1 !important;
    }
}

@media(max-width:992px) {
    .tagline h3 {
        width: 100%;
        margin-top: 10px !important;
        font-size: 30px !important;
    }
}

.tagline .hero_img {
    width: 100%;
}

.tagline .hero_img img {
    width: 100%;
    max-width: 100%;
    height: fit-content;
    overflow: hidden !important;
    object-fit: contain;
}

@media(max-width:992px) {
    .tagline img {
        display: none;
    }
}

.coachImage {
    position: relative;
}

.login {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

@media(max-width:992px) {
    .login {
        width: 92vw;
        margin-left: 0px !important;
        margin-top: 0px !important;
        padding-top: 0px !important;
    }
}

.login p {
    font-size: 18px;
    font-weight: 400;
}

.login a {
    color: #749BC2;
    text-decoration: none;
}

form {
    border-radius: 12px;
    width: 293px !important;
    background-color: white;
    box-shadow: 2px 2px 15px rgb(208, 207, 207);
    display: flex;
    padding-top: 23px;
    padding-bottom: 22px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

form.active {
    z-index: -1;
}

@media(max-width:992px) {
    form {
        margin: auto;
    }
}

@media(max-width:330px) {
    form {
        width: 92vw !important;
    }
}

.input {
    display: flex;
    flex-direction: column;
    width: 244px !important;
    position: relative;
}

.active {
    margin-bottom: 10px;
}

.input input {
    width: 100% !important;
}

.input svg,
.input img {
    position: absolute;
    top: 29px;
    left: 10px;
}

.psw_lock {
    margin-top: 2px;
    margin-left: 2px;
}

.eye {
    position: absolute;
    left: 90% !important;
    top: 32px !important;
    font-size: 12px;
    cursor: pointer;
    z-index: 2 !important;
}

.eye:hover {
    scale: 1.1;
}

.input label {
    color: #749BC2;
    font-weight: 500;
}

.input input {
    border: 1px solid #3d74ab;
    border-radius: 10px;
    height: 30px;
    width: 240px;
    padding-left: 32px;
    padding-right: 10px;
}

#password {
    padding-right: 30px !important;
}

#password_confirmation {
    padding-right: 30px !important;
}

.input input:focus {
    outline: none;
}

.checkbox {
    width: 82%;
    margin-bottom: 15px;
}

.checkbox input {
    accent-color: #749BC2;
}

.signup {
    width: 242px;
    border: none;
    background-color: #749BC2;
    color: white;
    padding: 5px;
    border-radius: 9px;
}

.signup:hover {
    background-color: #000000;
}

footer {
    display: flex;
    background-color: #E3EBF3;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

@media(min-width:1300px) {
    footer {
        position: fixed;
        bottom: 0;
        width: 100vw;
    }
}

@media(max-width:768px) {
    footer {
        flex-direction: column;
    }
}

footer span {
    font-weight: 500;
}

.copyright {
    padding-left: 20px;
}

@media(max-width:768px) {
    footer {
        text-align: center;
    }
}

.privacy {
    padding-right: 40px;
}

.lwt:hover {
    color: #749BC2 !important;
}

@media(min-width:768px) {
    .position-md-fixed {
        position: fixed;
    }
}