.about-container {
  height: calc(100vh - 185px);
}

.student-section {
  background-image: url("../../images/student-background.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.main-color{
  color: #b0afb4;
}

.main-color-2{
  color: #da9f51;
}

.icon-left{
  height: 30px;
}